{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<head>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'ppid:home' %}">
      <img src="{% static 'img/logo_baznas.png' %}" alt="Logo Baznas" width="55" height="55" class="me-3">
      <span class="fs-5">
        <strong>PPID</strong> <span style="font-weight: normal;">Baznas Kaltim</span>
      </span>
    </a>
    <button class="navbar-toggler" type="button" id="navToggle" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-2">

        <!-- PPID Baznas Kaltim -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-semibold" href="#" role="button" data-bs-toggle="dropdown">
            PPID Baznas Kaltim
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'ppid:profil' %}">Profil</a></li>
            <li><a class="dropdown-item" href="{% url 'ppid:struktur_ppid' %}">Struktur PPID</a></li>
            <li><a class="dropdown-item" href="{% url 'ppid:visi_misi' %}">Visi Misi</a></li>
            <li><a class="dropdown-item" href="{% url 'ppid:tugas_fungsi' %}">Tugas Dan Fungsi</a></li>
            <li><a class="dropdown-item" href="https://kaltim.baznas.go.id/event">Pendaftaran Event</a></li>
          </ul>
        </li>

        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold" href="#" id="layananDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Layanan Informasi
            </a>

            <ul class="dropdown-menu" aria-labelledby="layananDropdown">

              <!-- Submenu: Formulir -->
              <li class="dropdown position-relative">
                <a class="dropdown-item dropdown-toggle" href="#" id="formulirDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Formulir
                </a>
                <ul class="dropdown-menu shadow" aria-labelledby="formulirDropdown">
                  <li><a class="dropdown-item" href="#">Permohonan Informasi Publik</a></li>
                  <li><a class="dropdown-item" href="#">Pengajuan Keberatan</a></li>
                  <li><a class="dropdown-item" href="#">Permohonan Kunjungan</a></li>
                  <li><a class="dropdown-item" href="#">Penilaian Layanan</a></li>
                  <li><a class="dropdown-item" href="#">Formulir Pengaduan</a></li>
                </ul>
              </li>

              <!-- Menu lainnya -->
              <li><a class="dropdown-item" href="{% url 'ppid:layanan_pengaduan' %}">Layanan Pengaduan</a></li>
              <li><a class="dropdown-item" href="{% url 'ppid:maklumat_pelayanan' %}">Maklumat Pelayanan</a></li>
              <li><a class="dropdown-item" href="{% url 'ppid:rekomendasi_laz' %}">Rekomendasi Laz</a></li>
              <li><a class="dropdown-item" href="https://kaltim.baznas.go.id/konfirmasi-zis">Konfirmasi ZIS</a></li>
              <li><a class="dropdown-item" href="https://kaltim.baznas.go.id/kalkulator-zakat">Kalkulator Zakat</a></li>
              <li><a class="dropdown-item" href="https://kaltim.baznas.go.id/rekening">Info Rekening Zakat</a></li>
            </ul>
          </li>


          <!-- Informasi Publik Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold" href="#" role="button" data-bs-toggle="dropdown">
              Informasi Publik
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ppid:informasi_berkala' %}">Informasi Berkala</a></li>
              <li><a class="dropdown-item" href="{% url 'ppid:informasi_serta_merta' %}">Informasi Serta Merta</a></li>
              <li><a class="dropdown-item" href="{% url 'ppid:informasi_setiap_saat' %}">Informasi Setiap Saat</a></li>
            </ul>
          </li>

          <!-- Regulasi -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold" href="#" role="button" data-bs-toggle="dropdown">
              Regulasi
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ppid:informasi_publik' %}">Regulasi Layanan Informasi
                  Publik</a></li>
              <li><a class="dropdown-item" href="https://ppid.baznas.go.id/regulasi/regulasi-pengelolaan-zakat">Regulasi
                  Pengelolaan Zakat</a></li>
              <li><a class="dropdown-item" href="https://ppid.baznas.go.id/regulasi/regulasi-baznas">Regulasi BAZNAS</a>
              </li>
              <li><a class="dropdown-item" href="https://ppid.baznas.go.id/regulasi/regulasi-baznas-daerah">Regulasi
                  BAZNAS Daerah</a></li>
              <li><a class="dropdown-item" href="https://ppid.baznas.go.id/regulasi/regulasi-laz">Regulasi LAZ</a></li>
              <li><a class="dropdown-item" href="{% url 'ppid:upz' %}">Regulasi UPZ</a></li>
              <li><a class="dropdown-item" href="https://ppid.baznas.go.id/regulasi/hubungan-zakat-dan-pajak">Regulasi
                  Hubungan Zakat dan Pajak</a></li>
              <li><a class="dropdown-item" href="https://ppid.baznas.go.id/regulasi/fatwa-mui">Fatwa MUI</a></li>
            </ul>
          </li>

          <!-- Laporan Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold" href="#" role="button" data-bs-toggle="dropdown">
              Laporan
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://kaltim.baznas.go.id/keuangan">Laporan Keuangan</a></li>
            </ul>
          </li>

          <!-- FAQ -->
          <li class="nav-item">
            <a class="nav-link fw-semibold" href="{% url 'ppid:faq' %}">FAQ</a>
          </li>

        </ul>
    </div>
  </div>
</nav>

{% block js %}
<!-- Toggle Navbar Collapse Script -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navButton = document.getElementById("navToggle");
    const navBarList = document.getElementById("navbarNav");

    const bsCollapse = new bootstrap.Collapse(navBarList, {
      toggle: false
    });

    let isShown = false;

    navButton.addEventListener("click", function () {
      if (isShown) {
        bsCollapse.hide();
      } else {
        bsCollapse.show();
      }
    });

    navBarList.addEventListener("show.bs.collapse", () => isShown = true);
    navBarList.addEventListener("hidden.bs.collapse", () => isShown = false);
  });
</script>

</script>
{% endblock %}