{% extends 'admin/base_admin.html' %}

{% block title %}{{ title }} Pimpinan{% endblock %}

{% block content %}
{{ form.media }}
<h1 class="mb-4">{{ title }} Pimpinan</h1>

<form method="post" enctype="multipart/form-data" class="mb-4">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.nama.label_tag }}
        {{ form.nama }}
        {% if form.nama.errors %}
        <div class="text-danger">{{ form.nama.errors }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.foto.label_tag }}
        {{ form.foto }}
        {% if form.foto.errors %}
        <div class="text-danger">{{ form.foto.errors }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.deskripsi.label_tag }}
        {{ form.deskripsi|safe }}
        {% if form.deskripsi.errors %}
        <div class="text-danger">{{ form.deskripsi.errors }}</div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-success">Simpan</button>
    <a href="{% url 'ppid:admin_pimpinan_list' %}" class="btn btn-secondary">Batal</a>
</form>
{% endblock %}