{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Tambahkan sebelum </body> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="container my-5">
  <h2 class="fw-bold text-center mb-4">Visi dan Misi BAZNAS Kalimantan Timur</h2>
  
  <div class="row justify-content-center">
    <!-- VISI -->
    <div class="col-md-10 mb-4">
      <div class="card shadow-sm border-0">
        <div class="card-header bg-success text-white fw-bold">
          VISI
        </div>
        <div class="card-body">
          <p class="card-text">
            Menjadikan BAZNAS Provinsi Kalimtan Timur sebagai lmbaga utama menyejahterakan ummat, yang amanah, Transparan, Terpercaya 
            serta Profesional dalam pengelolaan Zakat, Infak dan Shadakah
          </p>
        </div>
      </div>
    </div>

    <!-- MISI -->
    <div class="col-md-10">
      <div class="card shadow-sm border-0">
        <div class="card-header bg-success text-white fw-bold">
          MISI
        </div>
        <div class="card-body">
          <ol class="mb-0">
            <li>Meningkatkan manajemen ZIS yang islami.</li>
            <li>Menciptakan pengelola ZIS yang bersih, amanah dan dapat dipercaya masyarakat.</li>
            <li>Pengelolaan ZIS berbasis informasi teknologi yang handal, terintegrasi, transparansi, akuntabilitas, dan resposif.</li>
            <li>Membangun tatakelola yang benar kesesuaian aspek syariah.</li>
            <li>Menjadi Basis data ZIS bagi pengelola2 zakat BAZNAS Kab/Kota, LAZ dan UPZ.</li>
            <li>Mengembangkan pelayanan dan progmram pemberdayaan ekonomi kreatif yang berkelanjutan.</li>
            <li>Mensinergikan potensi dan kekuatan stakeholders dalam pemberdayaan umat.</li>
            <li>Mengoptimalkan pemanfaatan ZIS sesuai syariah.</li>
            <li>Memperkuat oeran kelembagaan, skala nasional maupun internasional.</li>
            <li>Memperkuat publikasi dan edukasi kelembagaan skala nasional maupun internasional.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
